<div class="clearfix"></div>
<footer>
    <div class="container-fluid">
        <p class="copyright">&copy; 2017
            <a href="https://www.bpulse.io" target="_blank">Bpulse Big Data Analytics!.</a><span data-i18n="footer.rights">all rights reserved</span>. <span data-i18n="footer.privacity">privacy and terms</span>.</p>
            <!-- <button data-lang="en" class="btn btn-sm btn-warning lang-change-btn">EN</button>
            <button data-lang="es" class="btn btn-sm btn-info lang-change-btn">ES</button> -->
    </div>
</footer>