<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div id="content-customers-approve">
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-i18n="tables.customer_assign.customers"></h3>
                    </div>
                    <div class="panel-body" id="container-table-approve">
                        <table class="table table-striped" id="table-customers_approve" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
