<form id="form-user-change-pass" name="form-user-change-pass">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="newpassword" data-i18n="views.profile.recoverypass.newpasssword"></label>
            <input type="password" name="newpassword" id="newpassword" class="form-control"/>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="confirmpassword" data-i18n="views.profile.recoverypass.confirmpasssword"></label>
            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control"/>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
