<form id="form-user" name="form-user">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="first_name" data-i18n="tables.users.first_name"></label>
            <input type="text" name="first_name" value="{{ user.first_name }}" id="first_name" class="form-control input-sm"/>
            <input type="hidden" name="id" value="{{ user.id }}" id="id"/>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="lastst_nameme" data-i18n="tables.users.last_name"></label>
            <input type="text" name="last_name" value="{{ user.last_name }}" id="last_name" class="form-control input-sm"/>
        </div>
    </div>
    <div class="clearfix"></div>
</form>